@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #ed5684;
  --color-background-light: #f8f6f6;
  --color-background-dark: #121212;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e1e1e;
  --color-text-light: #1b0e11;
  --color-text-dark: #e0e0e0;
  --color-subtle-light: #974e60;
  --color-subtle-dark: #9e9e9e;
  --color-border-light: #f3e7ea;
  --color-border-dark: #333333;

  /* Font Family */
  --font-display: "Manrope", sans-serif;

  /* Border Radius */
  --radius-DEFAULT: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 9999px;
}

/* Custom box shadows using CSS layers */
@layer utilities {
  .shadow-custom-light {
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.06),
      inset 0 4px 8px -1px rgba(60, 20, 30, 0.1),
      0 1px 2px 0 rgba(0, 0,rgba(93, 77, 77, 0.06))x -1px rgba(60, 20, 30, 0.1);
  }

  .shadow-custom-dark {
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}

/* Dark mode support */
@theme inline {
  --color-background: light-dark(
    var(--color-background-light),
    var(--color-background-dark)
  );
  --color-surface: light-dark(
    var(--color-surface-light),
    var(--color-surface-dark)
  );
  --color-text: light-dark(var(--color-text-light), var(--color-text-dark));
  --color-subtle: light-dark(
    var(--color-subtle-light),
    var(--color-subtle-dark)
  );
  --color-border: light-dark(
    var(--color-border-light),
    var(--color-border-dark)
  );
}


/* To toggle dark mode */
@custom-variant dark (&:is(.dark *));